[build-system]
requires = [
    "setuptools>=42",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.black]
line_length = 88
skip_magic_trailing_coma = true

[tool.isort]
profile = "black"
combine_as_imports = true
line_length = 88

[tool.pytest.ini_options]
pythonpath = [
  ".",
]
