name: style

on: [push,  pull_request]

jobs:
  isort:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install isort
        run: |
          pip install isort
          isort -V
      - name: Run isort
        run: |
          isort --check --diff --combine-as --line-length 88 --profile black . 

  flake8:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install flake8
        run: |
          pip install flake8 flake8-bugbear flake8-deprecated flake8-executable
          flake8 --version
      - name: Lint with flake8
        run: |
          # Broad flake8 checks
          flake8 . --count --select=B,C,E,F,W,T4,B9 --ignore=B950,E402,E203,E266,E501,W503,F403,F401 --show-source --statistics
          # Github Recommended: exit-zero treats all errors as warnings
          flake8 . --count --exit-zero --max-complexity=18 --max-line-length=88 --statistics

  black:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Black
        run : |
          pip install black
          black --version
      - name: Format using black
        run: |
          black --check --diff --no-color --quiet --skip-magic-trailing-comma --line-length 88 .

  bandit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Bandit
        run: |
          pip install bandit
          bandit --version
      - name: Security Check with Bandit
        run: |
          bandit --silent --recursive .
